<body>
    <mat-card>
      <mat-card-content>
        <h1>Ajouter Classe</h1>
        <form (ngSubmit)="add()">
          <mat-form-field appearance="outline">
            <mat-label>Titre</mat-label>
            <input matInput placeholder="Titre" [(ngModel)]="degree.title" name="title">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Sous Titre</mat-label>
            <textarea matInput placeholder="Sous Titre" [(ngModel)]="degree.sub_title" name="sub_title"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" [(ngModel)]="degree.description" name="description"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Add</button>
        </form>
      </mat-card-content>
    </mat-card>
  </body>
  